#cart-restaurant-name,
#cart-restaurant-address,
#cart-restaurant-number {
    font-size: 20px;
    margin-bottom: .5rem;
}

#cart-top-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

#error-container {
    align-self: flex-end;
    margin-bottom: 2.5rem;
    max-width: 420px;
    max-height: 200px;
}

.error-msg {
    font-size: 20px;
    font-weight: 400;
    color: #A8003B;
}

.error-msg:not(:last-child) {
    margin-bottom: .5rem;
}

#dd-title {
    padding: 0;
    align-self: flex-start;
}

#calendar-container {
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
}

.react-calendar__navigation__label {
    max-width: 150px;
}

abbr {
    padding: .5rem;
    border-radius: 45px;
}

.react-calendar__tile:hover > abbr {
    background-color: #73a577b5;
}

.react-calendar__tile--active > abbr {
    background-color: #73A577;
}

#top-wrapper-right {
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 2rem;
}

#cart-totals-info {
    display: flex;
    flex-direction: column;
}

#wrapper-button-container,
.cart-totals-row {
    display: flex;
    justify-content: flex-end;
}

#cart-total {
    width: 200px;
    text-align: end;
    font-size: 20px;
    font-weight: 400;
    padding-right: .5rem
}

#cart-submit-button {
    justify-self: flex-end;
    width: 150px;
    border-radius: 50px;
    outline: 2px solid #73A577;
    background-color: #73A577;
    margin-left: 50px;
}

#cart-submit-button:hover {
    background-color: #73a577e0;
    outline: 2px solid black;
}

#add-to-order-button {
    width: 150px;
}

#cart-table-icon {
    width: 100%;
    position: relative;
}

#cart-icon {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
}

#cart-table {
    padding-bottom: .5rem;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 1rem;
    width: 100%;
}

#cart-table tr:nth-child(even) {
    background-color: #e2e2e2;
}

#delete-order-modal > .flex-col-center {
    gap: 1rem;
}

#delete-order-modal.flex-modal {
    display: flex;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 51%;
    align-items: center;
}

#delete-order-modal-text {
    margin: 1rem;
}