#chat-hero {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    max-width: 1064px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* overflow: hidden; */
}

#chat-icon-container {
    padding: .5rem;
    border-radius: 10px;
    height: 44px;
    width: 47.25px;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    color: #73A577;
    font-weight: 400;
    cursor: pointer;
}

#chat-icon-container > .fa-solid,
#chat-icon-container > .fa-regular {
    font-size: 25px;
    color: #73A577;
}

/****************************************/
/** Chat Box **/

#chat-box {
    width: 350px;
    height: 500px;
    margin-bottom: .25rem;
    border-radius: 6px;
    position: relative;
    border: 3px solid #73A577;
    display: flex;
    flex-direction: column;
}

#chat-hero[viewchat='true'] > #chat-box {
    animation: openChat .5s;
}

@keyframes openChat {
    0% {
        bottom: -500px;
    }
    90% {
        bottom: 20px;
    }
    100% {
        bottom: 0px;
    }
}

#chat-header {
    width: 100%;
    left: 0px;
    top: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

#chat-header > .fa-x {
    cursor: pointer;
}

#chat-box-content {
    padding: 1rem;
    height: 100%;
}

/****************************************/
/** Chat Profile Card **/

.chat-profile-card {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    padding: .25rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.chat-profile-card:not(:last-child) {
    margin-bottom: .5rem;
}

.chat-name {
    font-weight: 400;
}

.last-msg {
    margin-left: 2rem;
    overflow: hidden;
}

.unreadCount {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
}

/****************************************/
/** Thread **/
#messages-container {
    height: 382px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#new-message-div {
    display: flex;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#new-message-text {
    width: 100%;
    font-size: 16px;
    /* height: 25px; */
    flex-grow: 1;
}

#messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

::-webkit-scrollbar {
    display: none;
}

/****************************************/
/** Chat Message **/

.chat-msg {
    padding: .25rem .5rem;
    margin-bottom: .25rem;
    border-radius: 10px;
    width: fit-content;
    overflow-wrap: anywhere;
}

.left {
    position: relative;
    background-color: #c2c2c2;
    /* border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; */
}

.right {
    align-self: flex-end;
    background-color: #73a577b5;
}