#pd-button-update,
#pd-button-delete,
#pd-update-confirm,
#pd-update-cancel {
    font-family: Arimo;
    font-weight: 400;
    text-align: center;
    color: white;
    cursor: pointer;
}

#pd-button-update {
    background-color: #7EBEC5;
}

#pd-button-delete,
#pd-update-cancel {
   background-color: #A8003B;
}

#pd-update-confirm {
    background-color: #73A577;
}

#cart-update-quantity {
    width: 60px;
    outline: 1px solid black;
    font-size: 15px;
}