#feedback-hero {
    width: 100%;
    border-spacing: 0px;
}

#feedback-hero tr:nth-child(4n + 2) {
    background-color: #e2e2e2;
}

#feedback-hero tr:nth-child(4n + 3) {
    background-color: #e2e2e2;
}

#feedback-table-text {
    padding-left: 2rem;
}