#feedback-form-hero {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #e2e2e2;
    padding: .5rem;
    padding-bottom: .75rem;
    gap: .25rem;
    border-radius: 5px;
    overflow-x: hidden;
}

#feedback-form-title {
    padding-bottom: .25rem;
}

#feedback-selectors {
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
}

#feedback-selectors > select {
    font-size: 14px;
    padding: .25rem;
}

#feedback-selectors > select:focus {
    outline: 1px solid black;
}

#feedback-text {
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    border: none;
    resize: none;
    border-radius: 2px;
    height: 100px;
    padding: .4rem .5rem;
}

#feedback-text:focus {
    outline: 1px solid black;
}

#feedback-error-submit-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

#feedback-submit-button {
    width: fit-content;
    font-size: 16px;
    margin: .5rem;
    margin-right: 0px;
    margin-bottom: 0px;
}

#feedback-error {
    color: #A8003B;
    font-weight: 400;
}

#feedback-confirmation-modal {
    background-color: #7EBEC5;
    color: white;
    font-family: Arimo;
    font-size: 25px;
    animation-name: appear_from_right;
    animation-duration: .3s;
}