#product-hero {
    display: flex;
    align-items: center;
}

#product-hero:not(:last-child) {
    padding-bottom: 1rem
}

#op-product-name {
    width: 20%;
}

#op-product-description {
    width: 40%;
    padding-right: .5rem;
}

#op-product-ppp {
    width: 10%;
    text-align: end;
    padding-right: 1rem;
}

#op-product-quantity {
    width: 10%;
    text-align: end;
    padding-right: 1rem;
}

#op-product-subtotal {
    width: 10%;
    text-align: end;
    padding-right: 1rem;
}