#product-hero {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffea9780;
    border-radius: 5px;
    position: relative;
    margin: .5rem;
}

#op-product-top {
    width: 100%;
    height: 150px;
}

#op-img-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
}

#op-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#op-product-name {
    font-family: Arimo;
    font-size: 25px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
}

#op-product-bottom {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: .5rem;
}

#op-product-bottom * {
    font-size: 16px;
}

#op-product-description {
    font-size: 16px;
    padding-left: .5rem;
}

#op-pricing-grid {
    display: flex;
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    justify-content: space-between;
}

#op-grid-left,
#op-grid-right {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#op-grid-left {
    align-items: flex-start;
}

#op-grid-right {
    align-items: flex-end;
}

#input-container {
    position: relative;
    width: 114px;
}

#op-product-quantity {
    width: 100%;
}

#input-container-label {
    position: absolute;
    right: 5px;
    top: 0;
}

#op-product-subtotal {
    font-size: 20px;
}

#update-delete-buttons {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
}

#op-update-cart {
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: #7EBEC5;
    border-bottom-left-radius: 5px;
}
#op-remove-item {
    width: 50%;
    height: 100%;
    background-color: #A8003B;
    border-bottom-right-radius: 5px;
}

#op-addtocart {
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #73A577;
}

.op-button {
    text-align: center;
    font-weight: 400;
    padding-top: 5px;
    color: white;
    cursor: pointer;
}

.confirmation-modal {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation-name: modalPopup;
    animation-duration: 1.5s;
    display: none;
    z-index: 100;
}

@keyframes modalPopup {
    0% {
        display: block;
    }

    20% {
        bottom: 0px;
    }

    90% {
        opacity: 100%;
    }

    100% {
        bottom: 0px;
        opacity: 0%;
    } 
}