#add-edit-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#farmer-products-list {
    height: 70vh;
    overflow-y: auto;
    margin-top: 1rem;
    overflow-x: hidden;
}

.flex-col-center > .page-subtitle {
    align-self: flex-start;
}