#new-edit-product-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #73a577b5;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.newform-field {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#img-form-field {
    align-items: center;
}

.new-edit-error {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #A8003B;
    font-weight: 400;
}

#new-edit-error-img {
    bottom: -15px;
    font-weight: 400;
    color: #A8003B;
}

.newform-field > label {
    font-family: Arimo;
    font-weight: 400;
    font-size: 20px;
}

#active-label {
    align-self: center;
}

#new-imgFile {
    display: none;
}

#new-img-title {
    align-self: center;
}

#new-img-label {
    cursor: pointer;
    align-self: center;
    color: #F5DA70;
    /* background-color: #eee; */
    border: 2px solid black;
    padding: .4rem;
    border-radius: 5px;
}

#required-field {
    width: 100%;
    text-align: end;
}

/*****************************************/
/** Slider **/
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-switch {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}

.toggle-switch + label {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-switch + label::before {
    content: "";
    position: relative;
    width: 60px;
    height: 35px;
    margin-top: 5px;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 45px;
}

.toggle-switch + label::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background-color: white;
    border-radius: 45px;
    left: 4px;
    -webkit-transition: .3s;
    transition: .3s;
}

.toggle-switch:checked + label::before {
    background-color: #F5DA70;
}

.toggle-switch:checked + label::after {
    left: 28px;
}