#add-edit-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#farmer-products-list {
    height: 70vh;
    overflow-y: scroll;
    margin-top: 1rem;
}

.flex-col-center {
    align-items: flex-start;
    gap: 0;
}

.flex-col-center > div:not(:last-child) {
    margin-top: 0;
    padding-bottom: .25rem;
}