#new-edit-product-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #73a577b5;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.newform-field {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#img-form-field {
    align-items: center;
}

.new-edit-error {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #A8003B;
    font-weight: 400;
}

#new-edit-error-img {
    bottom: -15px;
    font-weight: 400;
    color: #A8003B;
}

.newform-field > label {
    font-family: Arimo;
    font-weight: 400;
    font-size: 20px;
}

#active-label {
    align-self: center;
}

#new-imgFile {
    display: none;
}

#new-img-title {
    align-self: center;
}

#new-img-label {
    cursor: pointer;
    align-self: center;
    color: #F5DA70;
    /* background-color: #eee; */
    border: 2px solid black;
    padding: .4rem;
    border-radius: 5px;
}

#required-field {
    width: 100%;
    text-align: end;
}