@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600&family=Roboto:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
}

root {
    margin: 0;
}

body {
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    padding: .5rem;
    font-size: 18px;
    border-radius: 500px;
    cursor: pointer;
    font-weight: 400;
}

input {
    border: none;
}

input:focus-visible {
    outline: none;
}

#app-hero {
    min-height: 100vh;
    width: 100%;
}

.bb-wt {
    background-color: black;
    color: white;
}

.bb-wt:hover {
    background-color: #333;
}

.basic-button {
    background-color: white;
    border: 1px solid black;
}

.basic-button:hover {
    background-color: #ccc;
    border: 1px solid black;
}