#new-order-header {
    padding-bottom: 2rem;
}

#new-order-title {
    font-family: Arimo;
    font-size: 35px;
    padding-bottom: 1rem;
}

#new-order-address {
    font-size: 25px;
}

#products-title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}

#products-title-right,
#cart-order-total-container {
    display: flex;
    align-items: center;
}

#cart-order-total-container {
    margin-right: 2rem;
    gap: 1rem;
}

#no-cart-total {
    font-size: 20px;
    font-weight: 400;
}

.selection-title,
#cart-title {
    font-family: Arimo;
    font-size: 25px;
}

#new-order-product-list {
    display: grid;
    display: flex;
    flex-wrap: wrap;
}

#product-list-headers {
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
}

#header-name {
    font-family: Arimo;
    font-size: 20px;
    width: 20%;
}

#header-description {
    font-family: Arimo;
    font-size: 20px;
    width: 40%;
}

#header-price {
    font-family: Arimo;
    font-size: 20px;
    width: 10%;
    text-align: end;
    padding-right: 1rem;
}

#header-quantity {
    font-family: Arimo;
    font-size: 20px;
    width: 10%;
    text-align: end;
    padding-right: 1rem;
}

#header-subtotal {
    font-family: Arimo;
    font-size: 20px;
    width: 10%;
    text-align: end;
    padding-right: 1rem;
}