#signup-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#signup-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-form-title-container {
    margin-bottom: 1.5rem;
}

#signup-form-title {
    font-size: 30px;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: .25rem;
}

#signup-form-subtitle {
    font-size: 18px;
    align-self: flex-start;
}

/* ********************************************** */
/* Prompt */
#prompt-buttons {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    width: 400px;
}
/* ********************************************** */
/* Prompt */
#key-form {
    width: 100%;
}

#key-form:invalid ~ div * #key-next-button {
    background-color: #f6f6f6;
    color: rgb(175, 175, 175);
    cursor: not-allowed;
}

#key-error {
    height: 19px;
    align-self: flex-start;
    margin-bottom: 10px;
}

/* ********************************************** */
#signup-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1rem;
}

#signup-button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#signup-buttons-right {
    display: flex;
    gap: 1rem;
}