#pdf-button {
    margin-top: 1rem;
    width: 200px;
}

#invoice {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 2px;
    width: 815px;
    min-height: 1200px;
}

#inner-invoice {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#invoice-title {
    font-size: 25px;
    margin-bottom: 1.5rem;
}

#invoice-karma-farm-info {
    display: flex;
    flex-direction: column;
}

.invoice-subtitle {
    font-size: 15px;
}

.invoice-subtitle:not(:last-child) {
    margin-bottom: .25rem
}

#invoice-banner {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.invoice-banner-title {
    font-size: 20px;
    padding-bottom: .25rem;
}

.banner-20 {
    max-width: 20%;
}

.bold {
    font-weight: 400;
}

#invoice-banner-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#invoice-table {
    width: 100%;
}

#invoice-table td {
    padding: 0;
    height: 20px;
    font-size: 15px;
}

.invoice-table-header {
    font-size: 20px;
    font-weight: 400;
}

#invoice-total-title {
    padding-bottom: 0;
    padding-right: 50px;
    font-size: 25px;
    text-align: end;  
}

td#invoice-total-number {
    font-size: 20px;
    text-justify: end;
}

#signatures {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#signatures > pre {
    font-size: 20px;
}

#invoice-thank-you {
    font-family: Arimo;
    font-size: 25px;
}

#invoice-thank-you-text {
    font-size: 15px;
    width: 42%;
}

#karmafarm-footer {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: flex-end;
}

#karmafarm-footer > div {
    font-size: 25px;
}

#kf-footer-name {
    font-family: Arimo;
}