#nav-hero {
    background-color: white;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 230px;
    height: 100vh;
    padding-top: 30px;
    border-right: 1px solid #ccc;
    z-index: 2000;
}

#nav-logo {
    font-family: Arimo, sans-serif;
    font-size: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
}

#nav-top {
    display: flex;
    flex-direction: column;
}

#nav-menu {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

#nav-menu > * {
    padding-left: 30px;
    padding-bottom: 20px;
    color: black;
}

#nav-logout {
    padding-top: 20px;
    align-self: center;
}

#nav-logout:hover {
    cursor: pointer;
}

#nav-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

#nav-about {
    cursor: pointer;
}

#nav-copyright {
    font-size: 15px;
    color: #aaa
}

/********************************/
/* Font Awesome */
#nav-hero .fa-solid,
#nav-hero, .fa-regular {
    margin-right: .5rem;
}